//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     
.row
    .col-md-1
    .col-md-10
        footer.page-footer.center-on-small-only
            .row
                .col-md-3
                .col-md-6
                    span
                        a(href='accueil.html') Accueil
                        |  
                        a(href='liste_offres_admin.html') Les offres
                        |  
                        a(href='#') Nous contacter
                    br
                    span © 2017 Copyright: WABO, WAFO, WANE , YEPMO
                .col-md-3
    .col-md-1