//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     
.row
    .col-md-1
    .col-md-10
        .row
            .col-md
                img(src='src/images/LogoChicket.png')
            .col-md.align-self-end
                br
                br
                form.form-inline.md-form.form-sm
                    i.fa.fa-search(aria-hidden='true')
                    input.form-control.w-75.ml-3(type='text', placeholder='Rechercher une offre', aria-label='Search')
            .col-md.align-self-center
                img(src='src/images/compteIcone.png')
                a(href='/login') Mon compte
                img(src='src/images/caddie.png')
                a(href='/caddy') Mon panier
        .row.nav
            .col-md
                a#accueilLink(href='/') ACCUEIL
            .col-md
                a#offerLink(href='/offers') LES OFFRES
            .col-md
                a#prestationLink(href='/clientDemands') MES DEMANDES
    .col-md-1
br
